<?php
/**
 * Created by PhpStorm.
 * User: chenmingming
 * Date: 2018/3/13
 * Time: 13:20
 */
return $config = [
    'app_id'        => '213414343',
    'account_type'   => '23571',
    'admin_account' => 'admin-account',
    'private_key'   => '/etc/key/private_key',
    'public_key'    => '/etc/key/public_key'
];